@import 'font';

$fontFamStandard: Montserrat-Light;
$fontSizeStandard: 15px;
$fontColorStandard: #666666;
$backColorStandard: #f7f7f7;
$transColorStandard: rgba(60, 49, 57, 0.5);

body {
  background-color: $backColorStandard;
  color: $fontColorStandard;
  font-family: $fontFamStandard !important;

  #page {
    margin: 0;
    background-color: #f7f7f7;

    .site-inner {
      background-color: #ffffff;
      box-shadow: 0 0 10px $fontColorStandard;

      header#masthead.not-frontpage {
        position: relative;
      }

      header#masthead{
        padding: 20px 20px 0;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0 , 0.5);
        width: 100%;
        color: #FFFFFF;

        #header-top {
          text-align: right;
          padding-top: 20px;

          a {
            color: #fff;
            border-radius: 50%;
            border: 1px solid;
            margin: 0 5px;

            &:hover {
              color: #000000;
            }
            i {
              padding: 0 5px;
            }
          }
        }
        
        nav ul li {

          a {
            color: #FFFFFF;
            &:hover {
              color: $fontColorStandard;
            }
          }

          ul.sub-menu {
            border: none;

            li {
              background-color: $transColorStandard;
              font-size: 10px;
              border: none;
              border-top: 1px solid #000000;
            }
          }
        }
      }

      div#content {
        padding: 0;

        div#primary {

          main {
            overflow: hidden;

            div#introduction {
              margin: 0;
            }

            .profile-picture {
                margin-bottom: 0;

              figure {
                border-radius: 50%;
                border: 1px solid;
                overflow:hidden;
              }
            }
          }
        }
      }
    }
    footer.site-footer {
      div.container {
        display: block;
        width: 100%;

        div.footer-widgets-area {

          div#footer-1 {

            section {

              ul {
                list-style: none;
                columns: 100px 2;
                margin: 0;

                li {
                  padding: 5px;

                  ul.sub-menu {
                    display: none;
                  }
                }
              }
            }
          }

          div.footer-columns {

            div.footer-column {
              display: inline-block;
              float: left;
            }
          }

          div.footer-2-columns {

             div.footer-column {
               width: 48%;
             }
           }

          div.footer-3-columns {

            div.footer-column {
              width: 32.3333%;
            }
          }

          div.footer-4-columns {

            div.footer-column {
              width: 23%;
            }
          }

        }
      }
    }
  }
}